Resources:
  aws:autoscaling:launchconfiguration:
    Type: AWS::AutoScaling::LaunchConfiguration
    InstanceType: t3.micro
    EC2KeyName: !Ref EC2KeyNameParameter
    SecurityGroups: 
      - !Ref SecurityGroupParameter

  aws:autoscaling:trigger:
    Type: AWS::AutoScaling::Trigger
    Properties:
      AutoScalingGroupName: !Ref AWSEBAutoScalingGroup
      MeasureName: CPUUtilization
      Statistic: Average
      Unit: Percent
      Period: 60
      BreachDuration: 120
      LowerThreshold: 20
      UpperThreshold: 80

  aws:autoscaling:updatepolicy:rollingupdate:
    Type: AWS::AutoScaling::RollingUpdate
    Properties:
      AutoScalingGroupName: !Ref AWSEBAutoScalingGroup
      MaxBatchSize: 1
      MinInstancesInService: 1
      MinSuccessfulInstancesPercent: 100

option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2