Resources:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    EC2KeyName: !Ref EC2KeyNameParameter
    SecurityGroups: 
      - !Ref SecurityGroupParameter

  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    Period: 60
    BreachDuration: 120
    LowerThreshold: 20
    UpperThreshold: 80

  aws:autoscaling:updatepolicy:rollingupdate:
    MaxBatchSize: 1
    MinInstancesInService: 1
    MinSuccessfulInstancesPercent: 100

OptionSettings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2