option_settings:
  aws:elasticbeanstalk:application:environment:
    STREAM_LOGS: true
    LOG_GROUP_NAME: /aws/elasticbeanstalk/psu-healthy-wealthy-prod-backend/logs

packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/awslogs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

      [/var/log/eb-activity.log]
      file = /var/log/eb-activity.log
      log_group_name = /aws/elasticbeanstalk/psu-healthy-wealthy-prod-backend/logs
      log_stream_name = {instance_id}/eb-activity.log
      datetime_format = %Y-%m-%d %H:%M:%S

      [/var/log/eb-docker/containers/eb-current-app/stdouterr.log]
      file = /var/log/eb-docker/containers/eb-current-app/stdouterr.log
      log_group_name = /aws/elasticbeanstalk/psu-healthy-wealthy-prod-backend/logs
      log_stream_name = {instance_id}/stdouterr.log
      datetime_format = %Y-%m-%d %H:%M:%S

      [/var/log/nginx/access.log]
      file = /var/log/nginx/access.log
      log_group_name = /aws/elasticbeanstalk/psu-healthy-wealthy-prod-backend/logs
      log_stream_name = {instance_id}/access.log
      datetime_format = %d/%b/%Y:%H:%M:%S %z

      [/var/log/nginx/error.log]
      file = /var/log/nginx
